.card-img-in {
  position: absolute;
  top: 64px;
  left: 166px;
  height: 360px !important;
  width: 228px; }

@media (max-width: 425px) {
  .card-img-in {
    position: absolute;
    top: 20px;
    left: 55px;
    height: 180px;
    width: 76px; } }
