$border: 1px solid;
/*
1920
*/

.body_content {
  //border: $border;
  margin-top: 5.65rem;
  padding-bottom: 10.2rem;
}

.number-input {
  width: 35.25px;
}

.main_card {
  margin-top: 5px;
  .container {
    //border: $border;
    //margin-left: 50%;
  }
}

@media (max-width: 768px) {
  .main_card {
  margin-top: 50px;
  .container {
    //border: $border;
    //margin-left: 50%;
  }
}
}

@media (max-width: 425px) {
  .body_content {
    margin-top: 2.71rem;
  }
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/images/Facebook-1s-100px.gif) center no-repeat #fff;
}
