.card-img-in {
      position: absolute;
      top: 59px;
      left: 150px;
      height: 358px !important;  
      width: 213px;//192
  }

@media(max-width: 425px) {
  .card-img-in {
    position: absolute;
    top: 20px;
    left: 55px;
    height: 180px;
    width: 76px;
  }
}